<div class="lugares-container">
  <h2>Lugares</h2>

  <div class="acciones">
    <div class="buscador">
      <span class="icon">🔍</span>
      <input type="text" [(ngModel)]="busqueda" placeholder="Buscar" (input)="filtrar()" />
    </div>
    <div class="acciones-derecha">
      <button class="btn agregar" type="button" (click)="abrirModal()">➕ Agregar lugar</button>
      <button class="btn filtro">⚙️ Filtro</button>
    </div>
  </div>

  <table class="tabla-lugares">
    <thead>
      <tr>
        <th>Nombre del lugar</th>
        <th>Dirección</th>
        <th>Capacidad</th>
        <th>Precio</th>
        <th>Num de Contacto</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lugar of lugaresFiltrados">
       <td>{{ lugar.name }}</td>
        <td>{{ lugar.address }}</td>
        <td>{{ lugar.minCapacity }} - {{ lugar.maxCapacity }}</td>
        <td>{{ lugar.rentalPrice }}</td>
        <td>{{ lugar.contactPhone }}</td>
        <td>
          <div class="acciones-fila">
            <button class="accion-btn ver" title="Ver" (click)="verPlace(lugar.id)">👁️</button>
            <button class="accion-btn editar" title="Editar" (click)="editPlace(lugar.id)">✏️</button>
            <button class="accion-btn eliminar" title="Eliminar" (click)="eliminarLugar(lugar)">🗑️</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="paginacion">
    <div class="paginacion-info">
      <span>Ver</span>
      <select [(ngModel)]="itemsPorPagina">
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
      </select>
    </div>
    <div class="registros-info">
      1 a {{ lugaresFiltrados.length }} de {{ lugares.length }} registros
    </div>
    <div class="paginas">
      <span class="pagina activa">1</span>
      <span class="pagina">2</span>
      <span class="pagina">3</span>
      <span class="pagina">4</span>
      <span class="pagina">></span>
    </div>
  </div>
  
</div>
