<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 px-4">
  <a class="navbar-brand" href="#">Walnut Events</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    @if (!loginDisplay) {
    <button class="btn btn-outline-secondary" (click)="loginRedirect()">
      Login
    </button>
    <!-- <button mat-menu-item (click)="loginPopup()">Login using Popup</button> -->
    } @if (loginDisplay) {
    <button class="btn btn-outline-secondary" (click)="logout()">Logout</button>
    <!-- <button mat-menu-item (click)="logout(true)">Logout using Popup</button> -->
    }
  </div>
</nav>
@if (!isIframe) {
<router-outlet></router-outlet>
}
