<div class="layout-container">
  <!-- Menú lateral -->
  <nav class="sidebar" *ngIf="isLoggedIn()">
    <h2>🧠 Events</h2>
    <a routerLink="/home"><i class="fas fa-chart-line"></i> Dashboard</a>
    <a routerLink="/clientes" *ngIf="roles().includes('admin')"><i class="fas fa-shopping-cart"></i> Clientes/Agencias</a>
    <a routerLink="/eventos"><i class="fas fa-calendar-alt"></i> Eventos</a>
    <a routerLink="/mensajes"><i class="fas fa-comment"></i> Mensajes <span class="badge">3</span></a>
    <a routerLink="/invitaciones"><i class="fas fa-envelope"></i> Invitaciones</a>
    <a routerLink="/lugares"><i class="fas fa-map-marker-alt"></i> Lugares</a>
    <button (click)="logout()" style="margin-top:2rem;">Cerrar sesión</button>
  </nav>

  <!-- Contenido principal -->
  <div class="main-content">
    <header class="navbar">
      <h1 *ngIf="isLoggedIn()">Buen día, <strong>{{ userName }}</strong></h1>
      <div class="user-profile" *ngIf="isLoggedIn()">
        <img src="assets/user-icon.png" alt="Usuario" />
      </div>
    </header>

    <router-outlet></router-outlet>
  </div>
</div>
  